.text-editor {
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
  white-space: nowrap;
}
